.resource {
  font-size: 18px;
	width: 190px;
  margin-left: 5px;
  margin-right: 5px;
	margin-bottom: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
